<!DOCTYPE html>
<html>
    <head>
        <title>NestedWorld - Password Request</title>
    </head>
    <body>
        % if form.errors:
            % for error in form.errors:
                <span style="background: red;">${error}</span>
            % endfor
        % endif

        <form method="post" action="">
            ${form.csrf_token}

            ${form.password.label} ${form.password}<br />
            ${form.confirm.label} ${form.confirm}<br />

            <button type="submit">Confirm</button>
        </form>
    </body>
</html>
