# Build stuff
*.egg-info
*.pyc
__pycache__

# Swagger UI (dev)
/swagger-ui

# Misc stuff
.*
!.coveragerc
!.dummy
!.gitignore
!.travis.yml
!.update.sh
*.sublime-project
*.sublime-workspace

#config files
config.toml
