apispec
arrow
flask>=0.10,<0.11
flask-cors
flask-debugtoolbar
flask-heroku
flask-mail
flask-mako
flask-marshmallow
flask-migrate
flask-restful
flask-restplus
flask-script
flask-sqlalchemy
flask-wtf
geoalchemy2
itsdangerous
marshmallow
marshmallow-sqlalchemy
psycopg2
shapely
sqlalchemy-utils[arrow, intervals, password, timezone]>=0.13
